.dynamic-details-content{
  width: 73%;
  height: auto;
  float: left;
}
.details-main{
  width: 100%;
  height: auto;
  text-align: left;
}
.search-details{

}
.footerNav2 {
  width: 100%;
  height: 50px;
  margin: 20px 0;
  float: left;
}
.dynamic-details-right{
  width: 25%;
  height: 940px;;
  float: right;
}
.content1{
  width: 65%;
  height: 100%;
  text-align: left;
  display: inline-block;
}
.Img{
  height: 370px;
  width: 100%;
}
.contents2{
float: left;
}
.dynamic-details-card{
  width: 100%;
  height: 350px;
  margin-top: 20px;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 0 3px #bbbaba;
}
.dynamic-details-card-1{
  width: 100%;
  height: 470px;
  margin-top: 20px;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 0 3px #bbbaba;
}
.dynamic-details-card1{
  float: left;
  background: #B91C1C;
  width: 100%;
  height: 15%;
  border-radius: 5px 5px 0 0;
}
.dynamic-details-card2 {
  float: left;
  width: 100%;
  height: 85%;
  border-radius: 0 0 5px 5px;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
